<!DOCTYPE html>
<html>
<head>
<title>Display</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>


<header class="w3-container w3-teal">
  <h1></h1>
</header>

<body>

<div class="w3-container">
<h1>  </h1>
 
<form action= "/display" method= "post">
<p><label class="w3-label w3-validate">Name: </label></p>
<p><label class="w3-label w3-validate">Borough: </label></p>
<p><label class="w3-label w3-validate">Cuisine: </label></p>
<p><label class="w3-label w3-validate">Street: </label></p>
<p><label class="w3-label w3-validate">Building: </label></p>
<p><label class="w3-label w3-validate">Zipcode: </label></p>
<p><label class="w3-label w3-validate">Latitude: </label></p>
<p><label class="w3-label w3-validate">Longitude: </label></p>
<p><label class="w3-label w3-validate">Rating: </label></p>
</form>


<form action= "/rate" method= "get">
    <button class="w3-btn w3-section w3-teal w3-ripple">Rate</button>
</form>

<form action= "/update" method= "get">
  <button class="w3-btn w3-section w3-teal w3-ripple">Edit</button>
</form>

<form action= "/delete" method= "post">
  <button class="w3-btn w3-section w3-teal w3-ripple">Delete</button>
</form>

<form action= "/list" method= "get">
<button class="w3-btn w3-section w3-teal w3-ripple" onclick="goBack()">Go Back</button>
</form>

</div>
</body>
</html>

